*{
    font-family: 'Cambria', serif;
    background-color: rgb(232, 238, 243);
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: rgb(157, 0, 255);
    margin-bottom: 15px;
} 

h2, .rounds {
    color: rgb(91, 90, 90);
}

h2 {
    margin-bottom: 10px;
}

.rounds {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.board {
    display: grid;
    height: 500px;
    width: 500px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: none;
    border-radius: 15px;
    gap: 2px;
    padding: 2px;
    background-color: rgb(157, 0, 255);
    box-shadow: 2px 2px 5px rgb(194, 194, 194);
  }
  
.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Arial, sans-serif;
    color: rgb(91, 90, 90);
    font-size: 3rem;
    border: none;
    border-radius: 15px;
    background: rgb(209, 236, 244);
    cursor: pointer;
}

.reset {
    margin: 20px;
    padding: 5px 20px;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    font-family: inherit;
    border-radius: 10px;
    background-color: rgb(209, 236, 244);
    border: 1px solid rgb(157, 0, 255);
}

.reset:hover {
    cursor: pointer;
    color: white;
    background-color: rgb(157, 0, 255);
    border: 1px solid rgb(209, 236, 244);
}